.swiper {
  width: 25rem;
  height: 30rem;

  @media screen and (max-width: 768px) {
    width: 22.5rem;
    height: 28rem;
  }
  @media screen and (max-width: 620px) {
    width: 20rem;
    height: 26rem;
  }
  
}

 
.swiper-slide {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 20px 2px #e9e9e9;
}